* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  --primary-color: #c9f5a6;
  --text-secondary-color: #668079;
  --secondary-color: #000;
  --bg-color: #002c1f;
  --accent-color: #00261b;

  --max-w-sm: 640px;
  --max-w-md: 768px;

  --transparent-md: #ffffff0e;
}

html {
  height: -webkit-fill-available;
}

body {
  background-color: var(--bg-color);
  color: white;
  display: flex;
}

input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.4;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: white;
  opacity: 0.4;
}

/* =============== BUTTONS =============== */
.button {
  padding: 10px 14px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: 150ms;
}

.button:hover {
  opacity: 0.9;
  transform: scale(0.98);
}

.button.primary {
  background: var(--primary-color);
  color: var(--accent-color);
}

.button.tertiary {
  background: var(--transparent-md);
  color: var(--text-secondary-color);
}

/* =============== SWITCH ============= */

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  margin-left: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--transparent-md);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: var(--accent-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ========== SIDEMENU ========= */

.sidemenu {
  width: 300px;
  background: var(--accent-color);
  height: 100vh;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 250ms;
  z-index: 100;
}

.sidemenu.active {
  transform: translateX(0) !important;
}

.sidemenu-toggle {
  opacity: 0;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 150ms;
}

.sidemenu-toggle:hover {
  background: var(--transparent-md);
}

.sidemenu-toggle.active {
  opacity: 1;
}

.sidemenu-nav {
  margin-top: 42px;
}

.sidemenu-nav h2 {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 10px;
}

.sidemenu-nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidemenu-nav ul a {
  display: flex;
  padding: 10px 16px;
  border-radius: 8px;
  justify-content: space-between;
  cursor: pointer;
}

.sidemenu-nav ul a.active {
  background: var(--transparent-md);
}

/* ============ MAIN ============  */

.main {
  flex: 1;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  transition: 250ms;
  position: relative;
}

.main.full {
  margin-left: 0;
}

.main-header {
  position: absolute;
  top: 16px;
  left: 16px;
}

@media screen and (max-width: 768px) {
  .sidemenu-toggle {
    opacity: 1;
  }

  .main {
    margin-left: 0;
    height: auto;
  }
}
