.generator-container {
  width: 100%;
  max-width: var(--max-w-sm);
  padding: 0 12px;
}

.input-quantity {
  position: relative;
  display: flex;
  align-items: center;
  background: #ffffff0a;
  border-radius: 5px;
  padding: 8px;
  border-radius: 32px;
}

.input-quantity .error {
  position: absolute;
  top: -30px;
  left: 0;
  color: var(--error-color);
}

.input-quantity.error {
  border: 1px solid var(--error-color);
}

.input-quantity input {
  width: 100%;
  padding: 6px;
  border: none;
  color: white;
  font-size: 1.2rem;
  background: transparent;
  outline: none;
}

.input-quantity button {
  display: flex;
  align-items: center;
}

.input-quantity img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  transition: 150ms;
}

.input-quantity img:last-child {
  background: var(--primary-color);
  opacity: 0.6;
}

.input-quantity img:last-child:hover {
  opacity: 1;
}

/* ============== OPTIONS ============== */
.generator-options {
  display: flex;
  margin-left: 40px;
  max-width: calc(100vw - 24px);
  overflow-x: auto;
  padding: 12px 0;
}

.generator-options button {
  color: var(--text-secondary-color);
  padding: 6px 8px;
  border-radius: 8px;
  transition: 150ms;
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap !important;
}

.generator-options button:hover {
  color: white;
  background: #ffffff0e;
}

@media (max-width: 768px) {
  .generator-options {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 50px);
    justify-content: center;
  }

  .input-quantity input {
    font-size: 16px;
  }
}

/* ============== RESULT ============== */
.generator-result {
  width: 100%;
  max-width: var(--max-w-sm);
  
}

.generator-result__data {
  background: var(--bg-color);
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.generator-result br {
  display: none;
}

.generator-result input {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 12px;
}

.generator-result p {
  color: var(--text-secondary-color);
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.generator-result span {
  color: white;
  white-space: nowrap;
}

.generator-result hr {
  opacity: 0.1;
  height: 1px;
}

.generator-detail {
  display: flex;
  gap: 8px;
  width: 100%;
}

.generator-detail > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.generator-detail > div > p > span {
  color: var(--text-secondary-color);
  font-weight: 400;
}

.generator-result_options {
  display: flex;
  gap: 12px;
  margin-top: 40px;
  justify-content: center;
  padding: 0 16px;
}

.generator-result_options button {
  width: 200px !important;
}

@media (max-width: 768px) {
  .generator-result {
    width: auto;
    padding-top: 64px;
  }
  .generator-result input {
    font-size: 32px;
  }
  .generator-result_options {
    flex-direction: column;
    gap: 12px;
  }
  .generator-result_options button {
    width: 100% !important;
  }
  .generator-result br {
    display: block;
  }
}

.hidden {
  display: none;
}

.dropdown {
  position: absolute;
  background: var(--bg-color);
  padding: 8px;
  border: 1px solid var(--transparent-md);
  border-radius: 10px;
  margin-top: 6px;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
}

.dropdown ul li {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: 150ms;
}
.dropdown ul li:hover {
  background: var(--transparent-md);
}