* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #C9F5A6;
    --secondary-color: #000;
    --bg-color: #002C1F;
    --accent-color: #00261B;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--bg-color);
    color: white;
}