* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #C9F5A6;
    --secondary-color: #000;
    --bg-color: #002C1F;
    --accent-color: #00261B;

    --max-w-md: 768px;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--bg-color);
    color: white;
    display: flex;
}

.sidemenu {
    width: 300px;
    background: var(--accent-color);
    height: 100vh;
}

.main {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.input-quantity {
    width: 100%;
    max-width: var(--max-w-md);
    display: flex;
    align-items: center;
    background: #ffffff0a;
    border-radius: 5px;
    padding: 8px;
    border-radius: 32px;
}

.input-quantity input {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    font-size: 1.2rem;
    background: transparent;
    outline: none;
}

.input-quantity img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
}

.input-quantity img:last-child {
    background: #fff;
}

::placeholder {
    color: white;
    opacity: .4;
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: white;
    opacity: .4;
  }

  @media screen and (max-width: 768px){
    .sidemenu {
        display: none;
    }

    .main {
        padding: 0 12px;
    }
  }